*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


@media screen and (max-width:425px) {
    .seccion2{
    display:flex;
    flex-wrap: wrap;
    justify-items: space-around;
    justify-items: center;
    align-content: center;
    }

    }
.header{
    background-color:#EEF8FF;
    display: flex;
    flex-wrap: wrap;
}      
.navbar{
    background-color:tomato;
}   
.seccion1{
    background-color: #D1F5FF;
    padding-top: 80px;
    padding-bottom: 30px;
}
.cuerpo{
   padding:10%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 23px;
   text-align: center;
}
.seccion2{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #78E3FD;
}
.titucate col{
    text-decoration:none ;
}
.secciones{
    display:inline-block;
    padding:20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
}
.part2{
    display: flex;
    align-content: center;
}
h2{
    text-align: center;
}
  
.col{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 15px;
}
.cat{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    font-size: 25px;
    color: ivory;
}
.seccion21{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 10px;
}
footer{
    margin-top: 10px;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pie{
    padding:20px
}
h2{
    font-family:cursive;
}
